.navbar-wrapper :global{
  color: #000;

  .select-city{
    min-width: 220px!important;
  }

  .app-logo{
    width: 160px;
  }
  .app-bar {
    display: flex;
    justify-content: center;
    background: transparent;
    box-shadow: none;
    margin-top: 50px;
  }
}
