.weather-card-wrapper :global{
  min-width: 600px;
  min-height: 600px;
  .wi {
    color: #673ab7;
  }
  .atmospheric {
    font-size: 28px;
    padding: 5px;
  }
  .recommendation {
    font-family: Montserrat, sans-serif;
    padding: 20px 0 10px 0;
    font-size: 26px;
    text-align: center;
  }
}